/* ! kyeonggido_header.css */
@charset:"utf-8";
body{font-family: 'Nanum Gothic', sans-serif;}

#wrap{width: 1160px;    height: auto;   margin: 0 auto;}
        #headBox{width: 100%;   height: auto;}
            #potal{width:100vw; height: 46px; background-color: #004c9c; position:relative; top:0; left: 50%; margin-left:-50vw;}
                    #potal>ul{width:1160px; height: 100%;    border-left:1px solid rgba(255,255,255,0.4); box-sizing:border-box; position:absolute; top:0; left:50%; margin-left:-580px;}
                    #potal li{width:164px; height: 100%;    border-right: 1px solid rgba(255,255,255,0.4); box-sizing:border-box; color:#fff; float:left; text-align:center; line-height:46px;}
                    #potal li:hover{background-color: #fa0;}
                    #potal li>a{font-size:0.7rem;}
             /* ____________________//#potal ____________________ */
            #hMiddle{width: 100%;  height: 76px; padding-top: 28px;}
                    h1{width: 166px; height: 100%;  float:left; background-image: url("../img/site_icon/h1_logo.png"); margin-top: -28px;}
                    #gnb{width: auto; height: 18px; float:  left;}
                        #gnb>ul{width: 100%;height: 100%;}
                        #gnb li{width: auto; height: 100%; float: left; text-align: center; margin-right: 50px; line-height:18px;}
                        #gnb li:last-child{font-size:0.8rem; color:#004d9f;}
                    #unb{width: 40px; height: 18px; float:  left; margin-left: 90px;}
                        #unb>ul{width:100%; height: 100%;}
                        #unb li{width: 100%;height: 100%; font-size:0.8rem; line-height:18px;}
                    #iconNation{width: 96px; height: 18px;   float:right;}
                            #iconNation li{width:18px; height: 100%; background-image:url("../img/site_icon/nation.png"); float:left; margin-right: 6px;}
                            #iconNation li:nth-child(2){background-position:    -26px 0;}
                            #iconNation li:nth-child(3){background-position:    -52px 0;}
                            #iconNation li:nth-child(4){background-position:    -78px 0; margin-right: 0;}

#hMiddle+hr{width: 100vw; height: 0; border: 1px solid #ddd; position:relative; top: 0; left: 50%;margin-left: -50vw;}

             /* ____________________//#hMiddle ____________________ */
            #hBottom{width: 100%;height: 144px;padding-top: 20px; box-sizing:border-box; font-size:0.8rem;}
                #totalMenu{width: auto; height: 18px; float: left; margin-right: 90px;}
                    #totalMenu>ul{width: 100%;height: 100%;}
                        #totalMenu li{float: left; margin-right: 20px; position:relative;}
                        #totalMenu li:after{content:" "; display: block; width:20px; height: 14px; position:absolute; top:0; right:-10px; border-right: 1px solid #ddd; margin-top: 2px;}
                        #totalMenu li:last-child:after{display: none;}
                #newsMenu{ width: auto;height: 18px; float: left; margin-right: 40px;}
                    #newsMenu>ul{width: 100%;height: 100%;}
                        #newsMenu li{float: left; margin-right: 14px;}
                        #newsMenu li:last-child{margin-right: 0;}
                        #newsMenu li:last-child>button{width: 16px;height: 16px; border: 1px solid #ccc;}
                        #newsMenu li:last-child>button:first-of-type{border-right: 0;}
                #mailMenu{width: auto;height: 18px; float: right;}
                    #mailMenu>ul{width: 100%;height: 100%;}
                        #mailMenu li{float: left; margin-right: 20px; position:relative;}
                        #mailMenu li::after{content:" "; width: 20px; height: 14px; border-right: 1px solid #ddd; display: block; position:absolute; top:0; right: -10px; margin-top: 3px;}
                        #mailMenu li:last-child{margin-right: 0;}
                        #mailMenu li:last-child::after{display: none;}
                #search{width: 100%; float: left; margin-top: 36px;}
                    #search>form{width: 370px;height: auto; margin-left: 404px; float: left;}
                    #search fieldset{width: inherit;height: auto; margin: 0; padding: 0;}
                        #searchDiv{width: 380px; height: 40px; position:relative;}
                            #search input[type="search"]{width: 302px; height: 40px; border:3px solid #ff8903; margin-right: 4px; padding-left: 30px; padding-right: 30px; box-sizing:border-box;}
                            #searchDiv>.fa-search{font-size:20px; position:absolute; top:10px; left:10px;}
                            #searchDiv>.fa-caret-down{font-size:20px;position:absolute; top:10px; left:280px; color: #ff8805;}
                             #search button{width: 54px; height: 40px; background-color: #ff8903; color:#fff; font-size:1rem; font-weight: bold;}
                    #weather{width: 360px; height: 40px; float: right; margin-top: 10px;}
                        #weather>div{float: left; margin-right: 20px; font-size:0.9rem;}
                         #weather .color_orange{color:#fa0;}
                     .color_darkBlue{color:#00c;}
                         #weather>div:last-of-type{width:192px; height: 26px; margin-right: 0; border:1px solid #ddd; border-radius:13px; font-size: 0.7rem; text-align: center; line-height: 26px; margin-top: -3px;}
