// headBox.scss
/* ! headBox.css */

@import "../_base/base";
@import "../_base/mixin";


body{background-color: map-get($color,subDark);}
 #wrap{width: 960px; height: auto; margin: 0 auto;}

  #headBox{width: 100%; height: auto; background-color:map-get($color,subDark); color: map-get($color,subDark);
  a{ @include innera(); }
  }//#headBox

    #subHbox{width: 100%; height: 30px; padding-left: 6px; padding-top: 6px; box-sizing:border-box;
      >h2{float: left; font-size: 0.9rem; color: #999;}
    }//#subHbox
      #messageBox{float: right;
        >li{float: left; margin-right: 10px; font-size: 0.8rem; margin-top: 4px;}
        >li:last-child{margin-right: 6;}
      }//#messageBox

/* //#subHbox ___________________ */

    #mainHbox{width: 100%; height: 80px;background-color: map-get($color,primary); padding-top: 10px; padding-left: 5px; box-sizing:border-box;}
      h1{float: left;}
      #unb{float: right; margin-top: 40px; font-size: 0.9rem;
        >ul{width: 100%;
        >li{float: left; margin-right: 10px;}
        }//ul
      }//#unb

/* //#mainHbox ___________________ */

    #gnb{width: 100%; height: 50px; padding: 0 200px; box-sizing:border-box;
      >ul{width: 100%; height: 100%;
      >li{@include innerT($w:100px, $h:48px); background-color: map-get($color,subDark) + #222 ; float: left; margin-right: 2px;}
      }//ul
    }//#gnb

/* //#gnb ___________________ */

    #searchBox{width: 100%; height: 40px; border-bottom: 1px solid map-get($color,primary2); padding-top: 4px; box-sizing:border-box;}
      #misshaR{width: 200px; height: 26px; float: left; text-align: center;}
      #searchBox>form{float: left; margin-left: 54px;
      input{width: 400px; height: 26px; background-color: #fff;}
      }//#searchBox>form
      #recommendBox{@include innerT($w:200px, $h:26px, $ta:center); float: right;}

/* //#searchBox ___________________ */

    #siteNBbox{width: 100%; height: 40px; font-size: 0.75rem; padding-top: 10px; box-sizing:border-box; border-bottom: 1px solid #666;}
      #misshaInfo{float: left;
        >li{float: left;}
      }//#misshaInfo
      #memberInfo{float: right;
        >li{float: left;}
      }
        #siteNBbox li{margin-right: 10px;}
        #siteNBbox li:last-child{margin-right: 0;}