/* footBox.css */
#footBox { width: 100%; height: auto; }

#inb { width: 100%; height: 48px; position: relative; }

#inb::before { content: " "; width: 100vw; height: 0; position: absolute; display: block; border-bottom: 1px solid #e0e0e0; bottom: 1px; left: 50%; margin-left: -50vw; z-index: 100; }

#callBox { width: 100%; height: 72px; }

#serviseBox { width: 100%; height: 60px; }

#addressBox { width: 100%; height: 118px; }
