// test.scss
/* test.css */

body{width: 960px; background-color: #fac; position: fixed;}
h1{padding: 0.5em; background-color: #0af;
  color:#fff;}
p{height: 2000px; padding: 0.5em; color: #fff; background-color: #0af;}
